@import "@/app/styles/reset.css";
@import "./themes/dark.css";
@import "./themes/normal.css";
@import "./variables/global.css";

.app {
    font: var(--font-m);

    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}
.content_page {
    display: flex;
}
.page_wrapper {
    flex-grow: 1;
    padding: 20px;
}